/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}
.buttonStyle {
  width: 50%;
  height: 30%;
  border: 2px solid rgb(233, 20, 20);
  color: rgb(18, 105, 206);
  font-size: 24px;
  position: relative;
};
.ovlabel {
	font-family: 'Arial Regular', 'Arial';
    font-weight: 650;
    font-style: normal;
    font-size: 24px;
    color: #000;
    text-align: left;
    line-height: normal;
}

.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "Infotrax";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progressleft{
  left: 0;
}
.progress .progressbar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progressleft .progressbar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progressright{
  right: 0;
}
.progress .progressright .progressbar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progressvalue{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.blue .progressbar{
  border-color: #049dff;
}
.progress.blue .progressleft .progressbar{
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progressbar{
  border-color: #fdba04;
}
.progress.yellow .progressleft .progressbar{
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progressbar{
  border-color: #ed687c;
}
.progress.pink .progressleft .progressbar{
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progressbar{
  border-color: #1abc9c;
}
.progress.green .progressleft .progressbar{
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}
